/* "sws" (StarWarsShips) to avoid conflicts with other packages */
:root {
    --sws-primary: 0, 0, 0;
    --sws-light: 0, 0, 0;
}

* {
    font-family: "Nunito";
}

.w-full {
    width: 100%;
}

.bold {
    font-weight: bold;
}

/* ALIGN */
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
