<template>
  <div class="http-error-alerts">
    <v-btn
      v-if="store.state.errors.length > 0"
      class="mb-2"
      elevation="2"
      color="error"
      x-small
      @click="store.state.errors = []"
      >close all</v-btn
    >
    <v-alert
      v-for="(error, index) in store.state.errors"
      :key="index"
      dismissible
      dense
      text
      type="error"
    >
      {{ error }}
    </v-alert>
  </div>
</template>

<script>
export default {};
</script>

<style>
.http-error-alerts {
  position: absolute;
  top: 110px;
  right: 0;
  text-align: right;
  z-index: 99;
}
</style>