<template>
  <div :class="['loading', { 'loading-fixed': fixed }]">
    <div class="loading-circle"></div>
  </div>
</template>

<script>
export default {
  props: {
    fixed: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped>
.loading {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 9999999;
}
.loading-fixed {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.loading-circle {
  width: 60px;
  height: 60px;
  border: 3px solid rgb(var(--sws-primary));
  border-top: 3px solid rgba(var(--sws-primary), 0.1);
  border-radius: 100%;
  transform: rotate(0deg);
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>