<template>
  <v-app>
    <!-- HEADER -->
    <div
      class="header pa-3 d-flex justify-space-between align-center"
      :style="{ background: store.state.theme.background }"
    >
      <img
        class="header-logo"
        :src="`images/starwars-starships-logo${
          $vuetify.theme.dark ? '-yellow' : ''
        }.png`"
      />
      <div>
        <v-switch
          v-model="$vuetify.theme.dark"
          prepend-icon="mdi-weather-sunny"
          append-icon="mdi-moon-waning-crescent"
          color="yellow"
        ></v-switch>
      </div>
    </div>

    <!-- HTTP errors -->
    <http-error-alerts />

    <!-- WEB CONTENT -->
    <v-container>
      <starship-list />
    </v-container>

    <!-- FOOTER -->
    <v-footer padless>
      <v-col class="text-center" cols="12">
        {{ new Date().getFullYear() }} — <strong>Star Wars Starships</strong>
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  watch: {
    "$vuetify.theme.dark": {
      immediate: true,
      handler(newValue) {
        this.store.state.theme = newValue
          ? this.$vuetify.theme.themes.dark
          : this.$vuetify.theme.themes.light;
      },
    },
  },
};
</script>

<style scoped>
.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 99;
}
.header-logo {
  width: 150px;
}
</style>
<style>
.container {
  min-height: calc(100vh - 100px - 48px); /* header (100) & footer (48) */
}
</style>
