<template>
  <div>
    <div class="d-flex justify-space-between align-center">
      <div>
        {{ pilot.name }}
      </div>

      <div>
        <v-btn
          elevation="2"
          color="blue"
          fab
          x-small
          @click="pilotInfoDialogId = pilot.id"
          ><v-icon color="white" small>mdi-information-variant</v-icon></v-btn
        >
        <v-btn
          elevation="2"
          color="red"
          fab
          x-small
          @click="openRemovePilotDialog(ship, pilot)"
          ><v-icon color="white" small>mdi-minus</v-icon></v-btn
        >
      </div>
    </div>

    <!-- Pilot dialog (REMOVE) -->
    <v-dialog
      v-if="removePilotDialog.pilot && removePilotDialog.pilot.name"
      v-model="removePilotDialog.active"
      persistent
      width="500"
    >
      <v-card>
        <v-card-title class="headline">Are you sure?</v-card-title>

        <v-divider />

        <v-card-text class="pa-5">
          <div>
            <b>{{ removePilotDialog.pilot.name }}</b> will not be able to pilot
            the ship.
          </div>
        </v-card-text>

        <v-divider />

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" text @click="removePilotDialog.active = false">
            No
          </v-btn>
          <v-btn color="primary" text @click="removePilot">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Pilot information -->
    <pilot-info-dialog v-model="pilotInfoDialogId" />
  </div>
</template>

<script>
export default {
  props: {
    ship: {
      required: true,
    },
    pilot: {
      required: true,
    },
  },
  data() {
    return {
      removePilotDialog: {
        active: false,
        ship: false,
        pilot: null,
      },
      pilotInfoDialogId: null,
    };
  },
  methods: {
    closePilotInfo() {
      this.pilotInfo.pilot = null;
      this.pilotInfo.active = false;
    },
    removePilot() {
      this.$emit("remove", {
        shipId: this.removePilotDialog.ship.id,
        pilotId: this.removePilotDialog.pilot.id,
      });
      this.removePilotDialog.active = false;
    },
    openRemovePilotDialog(ship, pilot) {
      this.removePilotDialog.ship = ship;
      this.removePilotDialog.pilot = pilot;
      this.removePilotDialog.active = true;
    },
  },
};
</script>

<style>
</style>