<template>
  <v-dialog v-if="pilot" v-model="show" width="500">
    <v-card>
      <v-card-title class="headline d-flex justify-space-between">
        {{ pilot.name }}
        <v-chip
          class="pilot-genre"
          :color="getPilotGenreColor(pilot.genre)"
          outlined
          small
          >{{ pilot.genre }}</v-chip
        >
      </v-card-title>

      <v-divider />

      <v-card-text class="pa-5">
        <div class="my-2"><b>Home planet</b>: {{ pilot.homeworld }}</div>
        <div class="my-2"><b>Birth year</b>: {{ pilot.birth_year }}</div>
      </v-card-text>

      <v-divider />

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="red" text @click="$emit('input', null)">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    value: {
      type: Number,
    },
  },
  data() {
    return {
      show: false,
      pilot: null,
    };
  },
  watch: {
    value: {
      immediate: true,
      async handler(newValue) {
        if (newValue) {
          this.pilot = await this.store.actions.GetPerson(newValue);
          this.show = true;
        } else {
          this.show = false;
        }
      },
    },
  },
  methods: {
    getPilotGenreColor(genre) {
      switch (genre) {
        case "male":
          return "blue";
        case "female":
          return "pink";
        default:
          return "grey";
      }
    },
  },
};
</script>

<style>
</style>