<template>
  <div>
    <loading v-if="store.state.loading" fixed />
    <div>
      <v-card
        elevation="2"
        outlined
        v-if="starships.length == 0"
        class="pa-5 ma-10 align-center"
      >
        <h3 class="mb-5">We found no ships in this galaxy</h3>
        <v-btn elevation="2" color="primary" @click="load"
          >Try again with the force</v-btn
        >
      </v-card>
      <div v-else>
        <v-expansion-panels focusable>
          <v-expansion-panel v-for="ship in starships" :key="ship.id">
            <v-expansion-panel-header>{{ ship.name }}</v-expansion-panel-header>
            <v-expansion-panel-content class="pt-4">
              <div class="my-2"><b>Class</b>: {{ ship.class }}</div>
              <div class="my-2"><b>Model</b>: {{ ship.model }}</div>
              <div class="my-2">
                <b>Manufacturer</b>: {{ ship.manufacturer }}
              </div>
              <div class="my-2"><b>Price</b>: {{ ship.price }}</div>
              <v-card class="pa-5 mt-5" elevation="2" outlined>
                <v-card-title class="px-0 pt-0 d-flex justify-space-between"
                  ><span class="bold">Pilots</span>
                  <v-btn
                    elevation="2"
                    color="green"
                    fab
                    small
                    :disabled="!dependencies || !dependencies.people"
                    @click="openAddPilotDialog(ship)"
                    ><v-icon color="white" small>mdi-plus</v-icon></v-btn
                  >
                </v-card-title>
                <div v-if="ship.people.length == 0">
                  This ship needs a pilot!
                </div>
                <div v-for="pilot in ship.people" :key="pilot.id">
                  <v-divider class="my-2" />
                  <pilot-list
                    :ship="ship"
                    :pilot="pilot"
                    @remove="removePilot"
                  />
                </div>
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
    </div>

    <!-- Pilot dialog (ADD) -->
    <v-dialog
      v-if="dependencies && dependencies.people && addPilotDialog.ship"
      v-model="addPilotDialog.active"
      @click:outside="closeAddPilotDialog"
      width="500"
    >
      <v-card>
        <v-card-title class="headline"
          >Add pilot to {{ addPilotDialog.ship.name }}</v-card-title
        >

        <v-divider />

        <v-card-text class="pa-5">
          <v-select
            v-model="addPilotDialog.pilotId"
            :items="dialogSelectorPilots"
            item-text="name"
            item-value="id"
            label="Pilot"
            dense
          ></v-select>
        </v-card-text>

        <v-divider />

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" text @click="closeAddPilotDialog"> Close </v-btn>
          <v-btn
            color="primary"
            text
            @click="savePilot"
            :disabled="!canSavePilot"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      starships: [],
      dependencies: null,
      addPilotDialog: {
        active: false,
        ship: null,
        pilotId: null,
      },
    };
  },
  computed: {
    canSavePilot() {
      return this.addPilotDialog.ship && this.addPilotDialog.pilotId;
    },
    dialogSelectorPilots() {
      if (
        !this.dependencies ||
        !this.dependencies.people ||
        !this.addPilotDialog.ship
      )
        return [];
      let shipPeopleIds = this.addPilotDialog.ship.people.map(
        (person) => person.id
      );
      return this.dependencies.people.filter(
        (person) => !shipPeopleIds.includes(person.id)
      );
    },
  },
  created() {
    this.load();
  },
  methods: {
    openAddPilotDialog(ship) {
      this.addPilotDialog.ship = ship;
      this.addPilotDialog.active = true;
    },
    closeAddPilotDialog() {
      this.addPilotDialog.ship = null;
      this.addPilotDialog.pilotId = null;
      this.addPilotDialog.active = false;
    },
    async removePilot({ shipId, pilotId }) {
      this.starships = await this.store.actions.RemovePilotToStarship(
        shipId,
        pilotId
      );
    },
    async savePilot() {
      this.starships = await this.store.actions.AddPilotToStarship(
        this.addPilotDialog.ship.id,
        this.addPilotDialog.pilotId
      );
      this.closeAddPilotDialog();
    },
    async load() {
      this.starships = await this.store.actions.GetStarships();
      this.dependencies = await this.store.actions.GetStarshipsDependencies();
    },
  },
};
</script>

<style scoped>
.pilot-genre {
  font-size: 12px;
}
</style>
<style>
.v-expansion-panel-header--active {
  font-weight: bold;
}
</style>